
<div class="contenedor">


<ul class="nav flex-column">
  <li class="nav-item" *ngFor="let user of usersData">
    
    <a [routerLink]="['/users', 1, user]" [queryParams]="{ page: 1, search: user }"
    class="nav-link">
     <br> Usuario <br>{{user | shorten:7}} <br>
      Detalles de los usuarios</a> <i class="fa-solid fa-user"></i>

    </li>

</ul>

<div>
  <button type="button" (click)="onUserAddedClick()">Usuarios</button>
</div>
<div>
  <router-outlet></router-outlet>
</div>

</div>