.init{
    width: 40%;
    margin: 5% 50%;
    text-align: center;
}



label{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    background: rgb(139, 143, 151);
}