

<div class="init">
     <div class="alert alert-danger my-4" *ngIf="error"> {{ error }} </div>
     <!-- <app-alert-modal *ngIf="error" [error]="error" (close)="error=null"></app-alert-modal> -->
   
     <div *ngIf="isLoading" class="text-center my-4">
        <app-loading-spinner></app-loading-spinner>
     </div>
    
    <!-- formulario de login  -->

     <form #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)" *ngIf="!isLoading" >
         <div *ngIf="isLoginMode">
          <h3>Iniciar secion</h3>
          <div class="form-group">
          <label for="email">Correo Electronico</label>
          <input
          type="text"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
          maxlength="35"
          />

          <div class="help-text" *ngIf="email.touched && !email.valid">
           <div *ngIf="email.errors.required">El correo es requerido</div>
           <div *ngIf="email.errors.email">Correo invalido</div>
          </div>
      </div>
     
<!-- contraseña -->

       <div class="form-group">
         <label for="password">Contraseña</label>
         <input
          type="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          #password="ngModel"
          />
         <div class="help-text" *ngIf="password.touched && !password.valid">
          <div>{{ getPasswordErrors(password) }}</div>
          </div>
        </div>

        <div class="mt-4">
          
        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
           {{ isLoginMode ? "Aceptar" : "Registrate" }}
        </button>
      
         </div>


        |
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          {{ isLoginMode ? "Registrarse" : "iniciar secion" }}
         
        </button>
       
      </div>
    </form>



<!-- register  -->


<form #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)" *ngIf="isLoading" >
  <div *ngIf="!isLoginMode">
   <h3>registrarse</h3>
   
   <div class="form-group">
    <label for="user">usuario</label>
    <input
   type="text"
   class="form-control"
   ngModel
   name="user"
   required
   email
   #user="ngModel"
   maxlength="35"
   />

   </div> 

   <div class="form-group">
   <label for="email">Correo Electronico</label>
   <input
   type="text"
   class="form-control"
   ngModel
   name="email"
   required
   email
   #email="ngModel"
   maxlength="35"
   />

   <div class="help-text" *ngIf="email.touched && !email.valid">
    <div *ngIf="email.errors.required">El correo es requerido</div>
    <div *ngIf="email.errors.email">Correo invalido</div>
   </div>
</div>

<!-- contraseña -->

<div class="form-group">
  <label for="password">Contraseña</label>
  <input
   type="password"
   class="form-control"
   ngModel
   name="password"
   required
   minlength="6"
   #password="ngModel"
   />
  <div class="help-text" *ngIf="password.touched && !password.valid">
   <div>{{ getPasswordErrors(password) }}</div>
   </div>
 </div>

 <div class="mt-4">
   
 <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
    {{ isLoginMode ? "Aceptar" : "Registrate" }}
 </button>

  </div>


 |
 <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
   {{ isLoginMode ? "Registrarse" : "iniciar secion" }}
  
 </button>

</div>
</form>






</div>
