<div class="container">
  
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">

      <!-- titulo -->

      <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control" formControlName="titulo" />

        <div
          class="help-text"
          *ngIf="!postForm.get('titulo').valid && postForm.get('titulo').touched"
        >
          Titulo es Requerido
        </div>
      </div>


    <!-- comentario -->

<!-- 
      <div class="form-group">
        <label>Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div
          class="help-text"
          *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched
          "
        >
          Contenido es Requerido
        </div>
      </div> -->

      <!--  -->
<div class="form-group">
  <label>Comentario</label>
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" class="form-control" >
       <div class="help-text"
        *ngIf="
          !postForm.get('content').valid && postForm.get('content').touched
        ">
      </div>
      </ngx-editor-menu>

<ngx-editor
  [editor]="editor"
  [(ngModel)]="html"
  formControlName="content"
  >
</ngx-editor>

<br>
<button type="button" (click)="Guardar()">Guardar</button>

<br><br>

<!-- <div [innerHTML]="html"></div> -->

</div>

      <!-- boton -->

      <div class="my-2">
        <button type="submit" class="btn btn-primary">añadir comentario</button>
      </div>
    </form>
  </div>

  <div>
    <a href="#" (click)="onClearPosts($event)"><b> borrar post <i class="fa-solid fa-circle-trash"></i> </b></a>
  </div>
  <br><br><br>

  <div>
    <table class="table" *ngIf="!error">
      <thead>
        <th>Titulo</th>
        <th>Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.titulo }}</td>
          <td><div [innerHTML]="post.content"></div></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>


<!-- ------------------------------------------->





<!-- 
<ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
<ngx-editor
  [editor]="editor"
  [(ngModel)]="html"
  >
</ngx-editor>

<br>
<button type="button" (click)="Guardar()">Guardar</button>

<br><br>

<div [innerHTML]="html"></div> -->