
<img src="../../assets/img/sss.webp" alt="img-coment">

<div class="container">
  
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control" formControlName="title" />

        <div
          class="help-text"
          *ngIf="!postForm.get('title').valid && postForm.get('title').touched"
        >
          Titulo es Requerido
        </div>
      </div>


      <div class="form-group">
        <label>Comentario</label>
        <!-- <textarea class="form-control" formControlName="content"></textarea>
        <div
          class="help-text"
          *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched
          "
        >
          Contenido es Requerido
        </div> -->

        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" class="form-control" >
        </ngx-editor-menu>
           <ngx-editor
              [editor]="editor"
              [(ngModel)]="html"
              formControlName="content"
            >
          </ngx-editor>
          <br>
          <button type="button" (click)="Guardar()">Guardar</button>
          <br><br>

          <!-- <div [innerHTML]="html"></div> -->
      </div>

      <div class="my-2">
        <button type="submit" class="btn btn-primary">añadir comentario</button>
      </div>
    </form>
  </div>

  <div>
    <a href="#" (click)="onClearPosts($event)">limpiar comentarios</a>
  </div>

  <div>
    <table class="table" *ngIf="!error">
      <thead>
        <th>Autor</th>
        <th>Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.title }}</td>
          <td><div [innerHTML]="post.content"></div></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>
</div>



<!-- -----------------------------------------------charango ------------------------ -->


<img src="../../assets/img/cha.jpg" alt="img-coment">

<div class="container">
  
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <label>autor</label>
        <input type="text" class="form-control" formControlName="title" />

        <div
          class="help-text"
          *ngIf="!postForm.get('title').valid && postForm.get('title').touched"
        >
          autor es Requerido
        </div>
      </div>


      <div class="form-group">
        <label>Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div
          class="help-text"
          *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched
          "
        >
          Contenido es Requerido
        </div>
      </div>

      <div class="my-2">
        <button type="submit" class="btn btn-primary">añadir comentario</button>
      </div>
    </form>
  </div>

  <div>
    <a href="#" (click)="onClearPosts($event)">limpiar comentarios</a>
  </div>

  <div>
    <table class="table" *ngIf="!error">
      <thead>
        <th>Autor</th>
        <th>Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>
</div>




<!-- ----------------violin----------------------- -->




<img src="../../assets/img/vio.jpg" alt="img-coment">

<div class="container">
  
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <label>autor</label>
        <input type="text" class="form-control" formControlName="title" />

        <div
          class="help-text"
          *ngIf="!postForm.get('title').valid && postForm.get('title').touched"
        >
          autor es Requerido
        </div>
      </div>


      <div class="form-group">
        <label>Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div
          class="help-text"
          *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched
          "
        >
          Contenido es Requerido
        </div>
      </div>

      <div class="my-2">
        <button type="submit" class="btn btn-primary">añadir comentario</button>
      </div>
    </form>
  </div>

  <div>
    <a href="#" (click)="onClearPosts($event)">limpiar comentarios</a>
  </div>

  <div>
    <table class="table" *ngIf="!error">
      <thead>
        <th>Autor</th>
        <th>Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>
</div>
