<div class="cont">
    <div>
     <div class="i">el id del usuario es: {{ user.id }}</div>
     <div class="i">Nombre:{{ user.name }}</div>
    </div>

   <div>
    <button (click)="onUserEdit()">Editar usuario</button>
   </div>

</div>
