
.header{

   width: 1350px;
   height: 340px;
  background-image: url('../../assets/img/mu2.webp' );
  color: white;
}

.header:hover {filter: opacity(.8);}

.salir{
    width: 120px;
    margin: -5%;
    float: right;
   
}
.container{
    text-decoration: none;
    width: 200%;
    height: 20%;
    font-size: 30px;
    float: left;
    background-color: rgba(153, 147, 131, 0.253);
}

.container .nav-item {
  display: inline-block;
}

.container a{
width: 130px;
margin:12% 3% 0 3px ;
color: white;
font-size: 20px;
display: inline-block;
text-decoration: none;
}

.container a:hover{
    color: yellow;
}

.container .botonini{
    width: 200px;
    color: white;
}