<div class="header">



<ul class="container">
  <li class="nav-item" *ngIf="!isAuthenticated">
    <a class="botonini" routerLink="/auth" routerLinkActive="active">Ingresa para comentar</a>
  </li>
  
  

  <div *ngIf="isAuthenticated">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active"
        >Usuarios</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/categories']"
        routerLinkActive="active"
        >Crear Post</a
      >
    </li>
   
 
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/filterpipes']"
        routerLinkActive="active"
        >Buscar</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="active"
        >comentarios</a
      >
    </li>
  </div>
  <div class="salir"><i class="fa-solid fa-user"></i>
  <li class="nav-item" *ngIf="isAuthenticated">
    <a class="nav-link" href="#" (click)="onLogout($event)" routerLinkActive="active"
      >salir</a
    >
  </li>
  </div>
</ul>
</div>