.home{
  background-color: rgb(240, 250, 246);
  width: 1350px;
  height:400px;
  float: left;
}

h3{
    width: 30%;
    margin: 10% 38%;
    color: rgba(27, 6, 6, 0.801);
    font-family: fantasy;
    font-size: 60px;
}
